
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Trading Graph</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
    <h2>Trades</h2>

    <div id="dataContainer"></div>
    <div id='chart'></div>
    <script>
        async function fetchDataAndUpdateUI() {
        try {
            const response = await fetch('/get-data');
            const data = await response.json();

            document.getElementById('dataContainer').innerHTML = data.message.k.c;
            console.log(data.message);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
        }

        const intervalId = setInterval(fetchDataAndUpdateUI, 1000); // Fetch data and update UI every second
    </script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>
</html>